*{
    margin: 0;
    padding: 0;
    color: white;
    font-size: 12px;
}

.container{
    width: 250px;
    height: 250px;
    position: relative;
    background-image: url(https://upload.wikimedia.org/wikipedia/en/thumb/a/ad/Beyonc%C3%A9_-_Renaissance.png/220px-Beyonc%C3%A9_-_Renaissance.png);
    background-size: cover;
}

.text{
    position: absolute;
    bottom : 32px;
    left : 12px;
}

.linking{
    position: absolute;
    bottom : 4px;
    left : 12px;
}
